body {
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	background: aliceblue;
}
header > nav > ul {
	display: flex;
	list-style: none;
}

header > nav > ul > li {
	margin-right: 2em;
}

a {
	color: #00b7ff;
}
